*.class
*.*~
lib/yacycore.jar
libbuild/svnRevNr.jar
libbuild/GitRevTask.jar
gen/**
/DATA
classes/
RELEASE/
/yacy.pid
.DS_Store
lib/yacy-cora.jar
/DATA.bkp
/DATA.1
/gen
/api
/winDATA.bkp/
/DATA.cloud/
yacy.log
/target/
