# Wenn man diese Liste benutzen moechte muss diese zuerst in "yacy.badwords"
# unbenannt werden !
#
# Alles was hier gelistet ist wir dann bei den "Topwoerter" die nach einer
# Suche angezeigt werden gefiltert.
#
# AEnderungen werden aber erst nach einen Neustart aktiv.
#
# Fehlt hier was, wird zu viel gefiltert, dann bitte aendern.
# Wenn was entfernt wird bitte auch schreiben warum das hier raus muss.
#
# Jeder darf/sollte jetzt mitmachen ;)
#
enc
all
app
from
***
alles
dem
den
ich
werde
wer
wie
was
von
vom
allen
weitere
fuer
dir
nach
auf
aus
mit
zum
bei
ueber
ist
eine
auch
aber
und
der
die
das
dass
oder
kein
weg
>>>
ads
ads43
jhtml
shtml
site=all
referrer=default
