<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr><td>
<h1 class="Headline"><a href="http://www.yacy.net">
	<img width="52" height="33" border="0" src="/env/grafics/yacy.gif" align="left">
        </a>

		YaCy&nbsp;-&nbsp;Distributed&nbsp;Web&nbsp;Indexing&nbsp;-&nbsp;Administration </h1>

</td></tr>
<tr><td><table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr><td width="100" valign="top">
  <ul id="Navigation">
    <li><h2>&nbsp;Global&nbsp;Index</h2></li>
    <li><a href="/index.html" accesskey="s">Searchpage</a></li>
    <li><a href="/DetailedSearch.html">Detailed Search</a></li>
    <li><a href="/Bookmarks.html">Bookmarks</a></li>
    <li><a href="/Help.html">Help</a></li>


    <li><h2>&nbsp;Distributed Crawler</h2></li>
    <li><a href="/IndexCreate_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Index Create</a></li>
    <li><a href="/IndexControl_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Index Control</a></li>
    <li><a href="/IndexMonitor.html">Index Monitor</a></li>

    <li><h2>&nbsp;Local Proxy</h2></li>
    <li><a href="/Blacklist_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Blacklist</a></li>
    <li><a href="/ProxyIndexingMonitor_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Proxy Indexing</a></li>
    <li><a href="/CacheAdmin_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Cache Monitor</a></li>
    <li><a href="/CookieMonitorIncoming_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Cookie Monitor</a></li>

    <li><h2>&nbsp;Communication / Publication</h2></li>
    <li><a href="/www/">Home&nbsp;Page</a></li>
    <li><a href="/share/">File&nbsp;Share</a></li>
    <li><a href="/Wiki.html">Wiki</a></li>
    <li><a href="/Messages_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Messages&nbsp;<img border="0" src="notifier.gif" align="center"></a></li>
    <li><a href="/EditProfile_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Personal Profile</a></li>



  <li><h2>&nbsp;Peer&nbsp;Control</h2></li>
  <li><a href="/Status.html" accesskey="t">Status</a></li>
  <li><a href="/Network.html" accesskey="w">Network</a></li>
  <li><a href="/News.html" accesskey="n">News</a></li>
  <li><a href="/ViewLog_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Log</a></li>
  <li><a href="/Settings_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Settings</a></li>
  <li><a href="/PerformanceQueues_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Performance</a></li>
  <li><a href="/Connections_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Connections</a></li>
  <li><a href="/Language_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Language</a></li>
  <li><a href="/Skins_p.html"><img border="0" src="/env/grafics/lock.gif" align="top">&nbsp;Skins</a></li>

  <li><h2>&nbsp;The Project</h2></li>
  <li><a href="http://www.yacy.net/yacy/">Projekt Home</a></li>
  <li><a href="http://www.yacy.net/yacy/News.html">Projekt News</a></li>
  <li><a href="http://sourceforge.net/forum/?group_id=116142">English Forum</a></li>
  <li><a href="http://www.yacy-forum.de">Deutsches Forum</a></li>
  <li><a href="http://www.yacy.net/yacy/Download.html">Download YaCy</a></li>
  <li><a href="http://yacy-websuche.de/wiki/index.php">YaCy Wiki</a></li>
  <li><a href="http://www.yacy.net/yacy/Contact.html">COntact</a></li>


    </ul>
</td><td width="6" valign="top"></td><td valign="top">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="2"></td></tr>
  <tr><td>