<div class="SubMenu">
  <h3>Search Portal Integration</h3>
  <ul class="SubMenu">
    <li><a href="/ConfigPortal.html" class="MenuItemLink">Generic Search Portal</a></li>
    <li><a href="/ConfigLiveSearch.html" class="MenuItemLink">Live Search Anywhere</a></li>
    <li><a href="/ConfigSearchBox.html" class="MenuItemLink">Search Box Anywhere</a></li>
  </ul>
</div>