<div class="SubMenu">
  <h3>Integrated Search Configuration</h3>
  <ul class="SubMenu">
    <li><a href="/ConfigPortal.html" class="MenuItemLink">Generic Search Portal</a></li>
    <li><a href="/ConfigAppearance_p.html" class="MenuItemLink lock">Appearance</a></li>
    <li><a href="/ConfigLanguage_p.html" class="MenuItemLink lock">Language</a></li>
    <li><a href="/ConfigProfile_p.html" class="MenuItemLink lock">User Profile</a></li>
    <li><a href="/Ranking_p.html" class="MenuItemLink lock">Ranking Config</a></li>
  </ul>
</div>