  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="favicon.ico" />
  <meta name="Content-Language" content="English, Englisch" />
  <meta name="keywords" content="Anomic HTTP Proxy search engine spider indexer java network open free download Mac Windows Linux Software development" />
  <meta name="description" content="Anomic Software HTTP Proxy Freeware Home Page" />
  <meta name="copyright" content="Michael Christen" />
  <link rel="stylesheet" type="text/css" media="all" href="/env/style.css" />
<!-- (C), Architecture and Realisation: Michael Peter Christen; Contact: mc <at> anomic.de -->