
body {
	background-color:#F8F8FF;
}

a, body, div, li, ol, span, table, td, tr, ul {
	color:#000000;
	bgcolor:#000000;
	font-family:Helvetica, sans-serif;
	font-size:13px;
	font-style:normal;
	line-height:14px;
	margin-top:0px;
	margin-bottom:0px;
}

body, div, li, ol, span, table, td, tr, ul {
      	text-decoration:none;
}

a:hover {
	color:#0000FF;
}

a.dark:hover {
	color:#0088BB;
	font-weight:bold;
	text-decoration:none;
}

a.white:hover {
	color:#EEFF00;
	font-weight:bold;
	text-decoration:none;
}

*.white {
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

*.yellow {
	color:#EEDD00;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}

*.dark {
	color:#111111;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}

*.blue {
	color:#556699;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}
