apache-mime4j-0.6.jar
avatica-core-1.13.0.jar
bcmail-jdk15on-1.69.jar
bcpkix-jdk15on-1.69.jar
bcprov-jdk15on-1.69.jar
bcutil-jdk15on-1.69.jar
calcite-core-1.18.0.jar
calcite-linq4j-1.18.0.jar
common-image-3.3.2.jar
common-io-3.3.2.jar
common-lang-3.3.2.jar
commons-codec-1.14.jar
commons-collections4-4.4.jar
commons-compress-1.21.jar
commons-fileupload-1.4.jar
commons-io-2.7.jar
commons-lang-2.6.jar
commons-lang3-3.12.0.jar
commons-logging-1.2.jar
commons-math3-3.4.1.jar
fontbox-2.0.15.jar
guava-25.1-jre.jar
hazelcast-4.2.jar
http2-client-9.4.34.v20201102.jar
http2-common-9.4.34.v20201102.jar
http2-http-client-transport-9.4.34.v20201102.jar
httpclient-4.5.12.jar
httpcore-4.4.13.jar
httpmime-4.5.12.jar
icu4j-63.1.jar
imageio-bmp-3.3.2.jar
imageio-core-3.3.2.jar
imageio-metadata-3.3.2.jar
imageio-tiff-3.3.2.jar
jackson-annotations-2.11.2.jar
jackson-core-2.11.2.jar
jackson-databind-2.11.2.jar
jaudiotagger-2.2.5.jar
javax.servlet-api-3.1.0.jar
jchardet-1.0.jar
jcifs-1.3.17.jar
jcl-over-slf4j-1.7.25.jar
jetty-client-9.4.35.v20201120.jar
jetty-continuation-9.4.35.v20201120.jar
jetty-deploy-9.4.35.v20201120.jar
jetty-http-9.4.35.v20201120.jar
jetty-io-9.4.35.v20201120.jar
jetty-jmx-9.4.35.v20201120.jar
jetty-proxy-9.4.35.v20201120.jar
jetty-security-9.4.35.v20201120.jar
jetty-server-9.4.35.v20201120.jar
jetty-servlet-9.4.35.v20201120.jar
jetty-servlets-9.4.35.v20201120.jar
jetty-util-9.4.35.v20201120.jar
jetty-webapp-9.4.35.v20201120.jar
jetty-xml-9.4.35.v20201120.jar
jsch-0.1.54.jar
json-simple-1.1.1.jar
jsonic-1.3.10.jar
jsoup-1.14.2.jar
jwat-archive-common-1.1.1.jar
jwat-common-1.1.1.jar
jwat-gzip-1.1.1.jar
jwat-warc-1.1.1.jar
langdetect-1.1-20120112.jar
log4j-over-slf4j-1.7.32.jar
lucene-analyzers-common-8.8.1.jar
lucene-analyzers-phonetic-8.8.1.jar
lucene-backward-codecs-8.8.1.jar
lucene-classification-8.8.1.jar
lucene-codecs-8.8.1.jar
lucene-core-8.8.1.jar
lucene-grouping-8.8.1.jar
lucene-highlighter-8.8.1.jar
lucene-join-8.8.1.jar
lucene-memory-8.8.1.jar
lucene-misc-8.8.1.jar
lucene-queries-8.8.1.jar
lucene-queryparser-8.8.1.jar
lucene-spatial-extras-8.8.1.jar
lucene-suggest-8.8.1.jar
metadata-extractor-2.11.0.jar
metrics-core-3.2.2.jar
metrics-jmx-4.1.5.jar
opentracing-api-0.33.0.jar
opentracing-noop-0.33.0.jar
opentracing-util-0.33.0.jar
oro-2.0.8.jar
pdfbox-2.0.15.jar
poi-3.17.jar
poi-scratchpad-3.17.jar
rrd4j-3.2.jar
slf4j-api-1.7.32.jar
slf4j-jdk14-1.7.32.jar
solr-core-8.8.1.jar
solr-solrj-8.8.1.jar
spatial4j-0.6.jar
stax2-api-3.1.4.jar
weupnp-0.1.4.jar
woodstox-core-asl-4.4.1.jar
xml-apis-1.4.01.jar
xmpcore-5.1.3.jar
xz-1.8.jar
zookeeper-3.4.14.jar
