/* dark-green skin 
 * based on 28c3, modyfied by okybaca */

body {
  background-color:#000000;
  color:#A3CC8B;
}

a:link {
  color:#A3CC8B;
  background-color:transparent;
}

a:visited {
  color:#A3CC8B;
  background-color:transparent;
}

a:hover {
  color: #38A535;
  background-color:transparent;
}


/* Menu */

.menugroup h3 {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 
  background-color: #C8FF00;
  color:#000000;
}

h3 {
  background-color:#C8FF00;
  color:#000000;


}

.SubMenugroup h3, .SubMenu h3 {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:#c8ff00;
  color:#000000;
}

a.MenuItemLink, ul.SubMenu em {
  background-color:#333333;
  color:#A3CC8B;
}

a:hover.MenuItemLink {
  background-color:transparent;
  color:#A3CC8B;
}

/* Head */

div.head h1 {
  background-color:transparent;
  text-align:left;
  padding-left:70px;
  color:#C8FF00;
}

/* Tables */

table {
}

.TableHeader {
  background-color:#9EB649;
  color:#000000;
}

.TableCellDark {
  background-color: #333333;
  color:#FFFFFF;
}

.TableCellLight {
  background-color: #222222;
}

.TableCellSummary {
  background-color: #FFCCCC;
  color: #3c3c3c;
  border:1px solid #888888;
}

.TableCellActive {       
  background-color: #FFCCCC;     
  color: #3c3c3c;
}

/* Blog and Wiki*/

.Post {
  background-color:#000000;
}

.PostSubject {
  background-color:#000000;
}

.PostSubject a {
  color:#A3CC8B;
}

.PostInfo {
  background-color:#000000;
}

/* Wiki */

.WikiTOCBox {
  border: 1px solid #888888;
  background-color: #000000;
}

a.unknown {
  color:#990000;
}

a.known {
  color:#009900;
}

a.extern {
  color:#000099;
}

/* in Bookmarks */

.bookmark {
  border-bottom:1px #888888 dashed;
}

a.bookmarkTitle {
  color: #E08040;
}

a:hover.bookmarkTitle {
  color: #E08040;
}

a.bookmarkTags {
  color: #FFFFFF;
}

a:hover.bookmarkTags {
  color: #E08040;
}

a.bookmarkAction {
  color: #888888;
}

.Tags {
  border-left: 2px solid #A3CC8B;
}

.diff               { background-color: #000000; }
.diff .unchanged    { color: #000099; }
.diff .added        { color: #009900; background-color: #000000; }
.diff .deleted      { color: #990000; background-color: #000000; }

/* in Status.html */

.ProgressBar {
  border: #000000 solid 1px;
}
div.ProgressBarFill {
  background-color:#333333;
}


/* portal front page */

h2.yacy {
color:#C8FF00;
}



/* Searchresults */



fieldset.maininput, fieldset.yacys { 
  background-color:#333333;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#9BEE06;
}

form.search.small h2 {
  border-bottom:1px solid #888888;
}

.searchresults {
  /*border-top:1px #888888 dashed;*/
}

.searchresults h4 a {
  font-size:1.2em;
  font-weight:normal;
  color:#00FF00;
}
.searchresults h4 a:hover {
  color:#000000;
  background:#00FF00;
}

.snippetLoaded strong {
  color:black;
}

.searchresults .url a {
  color:#6CAE45;
}
.searchresults .url a:hover {
  color:#000000;
  background:#00FF00;

}


/* other */

.settingsValue {
  color:#000099;
}

.Headline {
  background-color: #9EB649;
  color: #000000;
}

.Heading {
  background-color: #9EB649;
  color: #000000;
}

.error, .warning {
  color:red;
}

.success {
  color:green;
}

.Message {
  background-color: #000000;
}

.example {
  background-color:#000099;
}

.hides:hover .hoverShow { background-color: #000000; }

/* Log */

body#ViewLog pre {
  background-color:white;
}

/* Forms */

fieldset {
  background-color:#333333;
  color:#A3CC8B;
  border:0px solid #333333;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input, select, textarea, button {
  color: black;
/*  background-color: white;*/
} 

legend {
  background-color:#38A535;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align:left;
  color:white;
}

form dt, dl.pairs dt {
  background-color:#333333;
  font-weight:bold;
}

form dd, dl.pairs dd {
  background-color:#333333;
}

.navbar-default{background-color:#000;border-color:#000}
