/* generic skin */

/*
The following colours must be defined:
#[color_background]#
#[color_text]#
#[color_legend]#
#[color_tableheader]#
#[color_tableitem]#
#[color_tableitem2]#
#[color_tablebottom]#
#[color_borderline]#
#[color_signbad]#
#[color_signgood]#
#[color_signother]#
#[color_searchheadline]#
#[color_searchurl]#
#[color_searchurlhover]#
*/

body {
  background-color:#[color_background]#;
  color:#[color_text]#;
}

a:link {
  color:#[color_text]#;
  background-color:transparent;
}

a:link:hover {
  color: #[color_legend]#;
  background-color:transparent;
}


/* Menu */

.menugroup h3 {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 
  background-color: #[color_tableheader]#;
  color:white;
}

.SubMenugroup h3, .SubMenu h3 {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background-color:#[color_tableheader]#;
  color:white;
}

a.MenuItemLink, ul.SubMenu em {
  background-color:#[color_tableitem]#;
  color:#[color_text]#;
}

a:hover.MenuItemLink {
  background-color:transparent;
  color:#[color_text]#;
}

/* Head */

div.head h1 {
  background-color:transparent;
  text-align:left;
  padding-left:70px;
  color:#[color_text]#;
}

/* Tables */

table {
}

.TableHeader {
  background-color: #[color_legend]#;
  color:white;
}

.TableCellDark {
  background-color: #[color_tableitem]#;
}

.TableCellLight {
  background-color: #[color_tableitem2]#;
}

.TableCellSummary {
  background-color: #[color_tablebottom]#;
  border:1px solid #[color_borderline]#;
}

.TableCellActive {       
  background-color: #[color_tablebottom]#;     
}

/* Blog and Wiki*/

.Post {
  background-color:#[color_background]#;
}

.PostSubject {
  background-color:#[color_background]#;
}

.PostSubject a {
  color:#[color_text]#;
}

.PostInfo {
  background-color:#[color_background]#;
}

/* Wiki */

.WikiTOCBox {
  border: 1px solid #[color_borderline]#;
  background-color: #[color_background]#;
}

a.unknown {
  color:#[color_signbad]#;
}

a.known {
  color:#[color_signgood]#;
}

a.extern {
  color:#[color_signother]#;
}

/* in Bookmarks */

.bookmark {
  border-bottom:1px #[color_borderline]# dashed;
}

a.bookmarkTitle {
  color: #[color_tableheader]#;
}

a:hover.bookmarkTitle {
  color: #[color_tableheader]#;
}

a.bookmarkTags {
  color: #[color_searchheadline]#;
}

a:hover.bookmarkTags {
  color: #[color_tableheader]#;
}

a.bookmarkAction {
  color: #[color_borderline]#;
}

.Tags {
  border-left: 2px solid #[color_text]#;
}

.diff               { background-color: #[color_background]#; }
.diff .unchanged    { color: #[color_signother]#; }
.diff .added        { color: #[color_signgood]#; background-color: #[color_background]#; }
.diff .deleted      { color: #[color_signbad]#; background-color: #[color_background]#; }

/* in Status.html */

.ProgressBar {
  border: #[color_background]# solid 1px;
}
div.ProgressBarFill {
  background-color:#[color_tableitem]#;
}


/* Copyright info */

div#api {
  position:absolute;
  top:3px;
  right:20px;
  z-index: 100;
}

/* Searchresults */

fieldset.maininput, fieldset.yacys { 
  background-color:#[color_tableitem]#;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

form.search.small h2 {
  border-bottom:1px solid #[color_borderline]#;
}

.searchresults {
  /*border-top:1px #[color_borderline]# dashed;*/
}

.searchresults h4 a {
  font-size:1.2em;
  font-weight:normal;
  color:#[color_searchheadline]#;
}
.searchresults h4 a:link:hover {
  color:#[color_searchheadline]#;
}

.snippetLoaded strong {
  color:black;
}

.searchresults .url a {
  color:#[color_searchurl]#;
}
.searchresults .url a:link:hover {
  color:#[color_searchurlhover]#;
}


/* other */

.settingsValue {
  color:#[color_signother]#;
}

.Headline {
  background-color: #[color_tableheader]#;
  color: white;
}

.Heading {
  background-color: #[color_tableheader]#;
}

.error, .warning {
  color:red;
}

.success {
  color:green;
}

.Message {
  background-color: #[color_background]#;
}

.example {
  background-color:#[color_signother]#;
}

.hides:hover .hoverShow { background-color: #[color_background]#; }

/* Log */

body#ViewLog pre {
  background-color:white;
}

/* Forms */

fieldset {
  background-color:#[color_tableitem]#;
  color:#[color_text]#;
  border:0px solid #[color_tableitem]#;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* input, select, textarea, button {
  color: black;
  background-color: white;
} */

legend {
  background-color:#[color_legend]#;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align:left;
  color:white;
}

legend a:link {
  color:white;
}

legend a:link:hover {
  color:white;
}

legend a {
  color:#[color_text]#;
}

form dt, dl.pairs dt {
  background-color:#[color_tableitem]#;
  font-weight:bold;
}

form dd, dl.pairs dd {
  background-color:#[color_tableitem]#;
}
