Source: yacy
Section: network
Priority: extra
Maintainer: Michael Peter Christen <mc@yacy.net>
Build-Depends: ant, sun-java6-jdk | openjdk-6-jdk, debhelper (>= 5), m4
Standards-Version: 3.7.2

Package: yacy
Architecture: all
Depends: java2-runtime, sudo, debconf
Description: Peer-to-Peer Web Search Engine
 YaCy is a Java-based peer-to-peer search engine.
 It provides a personal web search engine, which is
 free and decentralized. The search index is distributed
 over a p2p network. It contains a crawler, an indexer
 and an own database engine. In the 'robinson-modus', YaCy
 can be used for a topic-oriented search portal or to index an
 intranet.
Homepage: http://yacy.net/
