/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF url(images/img01.gif) repeat-x;
  font: normal small Arial, Helvetica, sans-serif;
  color: #808080;
}

form {
}

fieldset {
  border: none;
}

legend {
  display: none;
}

h1, h2, h3 {
  margin: 0;
  color: #239AFF;
}

h2 {
  margin-bottom: .5em;
  font-size: 1.8em;
}

h3 {
  margin-bottom: 1em;
  font-size: 1em;
}

p, blockquote, ul, ol {
  margin-bottom: 1.5em;
  line-height: 1.8em;
}

p {
}

blockquote {
}

ul {
  margin-left: 2em;
  list-style: square;
}

ul li {
}

ol {
  margin-left: 2em;
  list-style: lower-roman;
}

ol li {
}

a {
  color: #20A020;
}

a:hover {
  text-decoration: none;
  color: #008000;
}

img {
  border: none;
}

/* Boxed Style */

.boxed {
  margin-bottom: 1em;
  background: #F7F7F7;
  border: 1px solid #F0F0F0;
}

.boxed .title {
  height: 29px;
  padding: 10px 0 0 27px;
  background: #239AFF url(images/img08.gif) no-repeat 10px 50%;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #FFFFFF;
}

.boxed .content {
  padding: 9px;
}

/* Header */

#header {
  width: 92%;
  height: 60px;
  margin: 0 auto;
  background: #239AFF;
}

/* Header > Logo */

#logo {
  float: left;
  padding: 5px 0 0 0;
}

#logo h1 {
  text-transform: uppercase;
  font-size: 2em;
}

#logo h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em;
}

#logo a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Header > Top Menu */

#topmenu {
  float: right;
}

#topmenu ul {
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
  line-height: normal;
}

#topmenu li {
  display: inline
}

#topmenu a {
  display: block;
  float: left;
  margin: 0 0 0 16px;
  padding: 0 0 0 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: x-small;
  font-weight: bold;
  color: #FFFFFF;
}

#topmenu a:hover {
  text-decoration: underline
}

#topmenu1 {
  background: url(images/img03.gif) no-repeat left center;
}

#topmenu2 {
  background: url(images/img04.gif) no-repeat left center;
}

#topmenu3 {
  background: url(images/img05.gif) no-repeat left center;
}

/* Menu */

#menu {
  width: 92%;
  height: 40px;
  margin: 0 auto;
}

#menu ul {
  margin: 0;
  list-style: none;
  line-height: normal;
}

#menu li {
  display: inline;
}

#menu a {
  display: block;
  float: left;
  height: 26px;
  padding: 14px 18px 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

#menu a:hover {
  text-decoration: underline;
}

#menu .first a {
  padding-left: 0;
  background: none;
}

/* Content */

#content {
  width: 92%;
  padding-left: 10px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Content > Main */

#main {
  float: left;
  width: 70%;
}

/* Content > Main > Example */

#example {
}

/* Content > Main > Welcome */

#welcome {
  margin: 0 0 3em 0;
  padding: 10px 0 1.5em 0;
  /* border-bottom: 1px solid #CCCCCC; */
}

/* Content > Sidebar */

#sidebar {
  float: right;
  width: 220px;
}

/* Content > Sidebar > Login */

#login {
}

#login label {
  display: block;
}

#login #inputtext1, #login #inputtext2 {
  width: 180px;
  margin-bottom: .5em;
  padding: 2px 5px;
  border: 1px solid #CCCCCC;
  font: normal small Arial, Helvetica, sans-serif;
  color: #999999;
}

#login #inputsubmit1 {
  float: right;
  width: 60px;
  margin-right: 7px;
  border: 1px solid #CCCCCC;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  font: normal small Arial, Helvetica, sans-serif;
}

#login p {
  margin: 0;
  padding-top: .2em;
  font-size: x-small;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
  margin: 0;
  list-style: none;
}

#updates li {
  margin-bottom: 1em;
}

#updates h3 {
  margin: 0;
  padding: 0 0 0 10px;
  background: url(images/img09.gif) no-repeat left center;
  font-size: x-small;
}

#updates p {
  margin: 0;
  padding: 0 0 0 10px;
  line-height: normal;
  font-size: .85em;
}

#updates a {
  text-decoration: none;
}

/* Content > Sidebar > Partners*/

#partners {
}

/* Footer */

#footer {
  clear: both;
  width: 92%;
  margin: 0 auto 2em auto;
  background: #F7F7F7;
  border: 1px solid #F0F0F0;
}

/* Footer > Legal */

#legal {
  margin: 0;
  padding: 8px;
  text-align: center;
  color: #808080;
}

#legal a {
  font-weight: bold;
  color: #808080;
}

/* Footer > Links */

#links {
  margin: 0;
  padding: 10px;
  text-align: center;
}

