/* Body */
body {
	font-size: 62.5%;
}
/* Main */
div.main { 
  float:left;
  margin-top:25px;
  min-width: 470px;
}
/* Sidebar */ 
div.sidebar {     
  margin-right: 10px;
  float:left;
  width:250px;
}
.yresult .favicon {
	width: 16px; 
	height: 16px;
	padding: 5px 1px 1px 15px;	/* top right bottom left */			
}

/* Admin Console */
.banner {
	margin-top: 20px;
	margin-bottom: 0px;	
}
table.adminconsole {
	width:100%;
	margin:8px 0px 6px 0px;
	display:inline-block;

}
table.adminconsole td {
	width: 63px;
	text-align:center;
}
table.adminconsole td.head {
	text-align:left;
}
table.adminconsole h3 {
	margin-top: 15px;
	margin-bottom: 5px;
	text-decoration:none;
	font-size: 12px;	
}
table.adminconsole img {
	width: 32px; 
	height: 32px;
	padding: 1px 1px 7px 1px;	/* top right bottom left */
	vertical-align: middle;
}
table.adminconsole a {
	text-decoration:none;	
}
/* Searchbox */
table.contentdom {
	width:100%;
	text-align:center;
	margin:8px 0px 6px 0px;
	border:1px solid #CCCCCC;
	display:inline-block;
}
div.ys {
	clear: inherit;
	float:left;
}
#searchbutton {
  width: 95px;
  height: 48px;  
  margin: 20px 0px 0px 8px;
  /* border: 1px solid #CCCCCC; */
  font: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px; 
  /* color: #999999; */
}
.filter {
  width: 190px;  
  margin-bottom: .5em;
  padding: 2px 0px 2px 0px /* top right bottom left */
  border: 1px solid #CCCCCC;
  font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* color: #999999; */
}
.selector {
  width: 120px;  
  margin-bottom: .5em;
  padding: 2px 0px 2px 0px; /* top right bottom left */
  border: 1px solid #CCCCCC;
  font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* color: #999999; */
}
.small {
  font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
}
.normal {
  font: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;  
}
.menu img.logo {
  width: 256px; 
  height: 128px;  
  padding: 2px 16px 2px 8px;
  vertical-align: middle;
}
img {
  vertical-align: top;
}
img.favicon{  
  width: 16px;
  height: 16px;
  vertical-align: middle;  
  margin-left: -20px;
}
img.help {
  vertical-align: middle;
  padding-bottom:5px;
  padding-left: 6px;
}

/* YaCy Flexigrid ---------------------------*/
.flexigrid div.fbutton .pictures {
	background: url(../img-2/pictures.png) no-repeat center left;
}
.flexigrid div.fbutton .help {
	background: url(../img-2/question_blue.png) no-repeat center left;
}
.flexigrid div.fbutton .delete {
	background: url(../img-2/cancel.png) no-repeat center left;
}
.flexigrid div.fbutton .edit {
	background: url(../img-2/pencil.png) no-repeat center left;
}
.flexigrid div.fbutton .import {
	background: url(../img-2/download.png) no-repeat center left;
}
.flexigrid div.fbutton .rss {
	background: url(../img-2/rss_round.png) no-repeat center left;
}
.flexigrid div.fbutton .xml {
	background: url(../img-2/code.png) no-repeat center left;
}
.flexigrid div.fbutton .bookmark {
	background: url(../img/bookmark.png) no-repeat center left;
}
.flexigrid div.fbutton .blacklist {
	background: url(../img/blacklist.png) no-repeat center left;
}
.flexigrid div.fbutton .crawl {
	background: url(../img/crawl.png) no-repeat center left;
}
.flexigrid div.fbutton .next {
	background: url(../img/next.png) no-repeat center left;
}
.flexigrid div.fbutton .prev {
	background: url(../img/prev.png) no-repeat center left;
}
.flexigrid div.fbutton .load {
	background: url(../img/flexigrid/load.png) no-repeat center left;
}
.flexigrid div.fbutton .addTag {
	background: url(../img/tags/tag_blue_add.png) no-repeat center left;
}
.flexigrid div.fbutton .editTag {
	background: url(../img/tags/tag_blue_edit.png) no-repeat center left;
}
.flexigrid div.fbutton .deleteTag {
	background: url(../img/tags/tag_blue_delete.png) no-repeat center left;
}
.flexigrid div.fbutton .log-debug {
	background: url(../img-2/magnify.png) no-repeat center left;
}
.flexigrid div.fbutton .log-info {
	background: url(../img-2/info.png) no-repeat center left;
}
.flexigrid div.fbutton .log-system {
	background: url(../img-2/accept_green.png) no-repeat center left;
}
.flexigrid div.fbutton .log-warning {
	background: url(../img/blacklist.png) no-repeat center left;
}
.flexigrid div.fbutton .log-error {
	background: url(../img-2/stop.png) no-repeat center left;
}
.flexigrid div.fbutton .log-new {
	background: url(../img-2/new.png) no-repeat center left;
}
.flexigrid div.fbutton .log-more {
	/* background: url(../img/flexigrid/uup.png) no-repeat center left; */
	margin-left: -20px;
}

/* YaCy Bookmarks ---------------------------*/
.url {
	padding-top: 1px;
	font-size: 0.9em;
  	line-height: 1.2em;
  	margin-bottom:0.6em;
}
h3.linktitle {
	margin-top:2px;	
	margin-bottom: -0.5em;
    font-size: 1.0em;
    line-height: 1.2em;
	color:#239AFF;
}
h3.linktitle a {
	color:#239AFF;
	text-decoration:none;
}
p.url a {
  	color:#20A020;
  	text-decoration:none;
}
.tag {
	font-size: 1.1em;
  	line-height: 1.3em;
  	color:#20A020;
}
.desc {
  	font-style:italic;
	font-size: 0.9em;
  	color: #808080;
  	line-height: 1.2em;
  	margin-bottom:-1em; 	
}
.bm_input, .bm_select { 
  padding: 2px 0px 2px 0px /* top right bottom left */
  border: 1px solid #CCCCCC;
  margin: 0px 0px 2px 10px;
}
.bm_input { width: 240px; }
.bm_select { width: 100px; }
.bm_dialog label { margin: 6px 0px 2px 10px;}
.bm_dialog {
	margin: 5px 5px 5px 5px;
	font-size: 1.1em;	
}
#yfolder {
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}
#tagcloud {
	margin: 10px 10px 10px 7px; /* top right bottom left */
	text-align: justify;
	line-height: 0.9;
}
#topwords {
	max-height: 160px;
	overflow-x: hidden;
	overflow-y: auto;
}
#yfolder li, #topwords li, #topul li {
	display: block;
}

#tagcloud a {
	cursor:pointer;		
}
#tagcloud a:hover {
	background-color:#e6EEEE;		
}

.hidden {
	display:hidden;
}

/* overrides for ui-tab styles
-------------------------------------*/
#tabs-container .ui-tabs-nav li a:link,
#tabs-container .ui-tabs-nav li a:visited,
#tabs-container .ui-tabs-nav li a:hover,
#tabs-container .ui-tabs-nav li a:active, 
#tabs-container .ui-tabs-nav li.ui-tabs-selected a:link,
#tabs-container .ui-tabs-nav li.ui-tabs-selected a:visited,
#tabs-container .ui-tabs-nav li.ui-tabs-selected a:hover,
#tabs-container .ui-tabs-nav li.ui-tabs-selected a:active { font-size: 1.1em; font-style: bold; padding-left: 5px;}
#tabs-container .ui-tabs-panel { padding:0px 0px; font-size:11px; }

/* overrides for ui-accordion styles
-------------------------------------*/
#sidebar .ui-accordion-header a { display: block; font-size: 1.1em; font-style:bold; padding: .25em .25em .25em 1.5em; }
#sidebar .ui-accordion-header .ui-icon { position: absolute; left: .25em; top: 50%; margin-top: -8px; }
#sidebar .ui-accordion-content { padding: 0.8em 0.5em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; font-size:11px;}

/* overrides for treeview styles
-------------------------------------*/
.filetree span.tag { 
	background: url(../img/tags/tag_blue.png) 0 0 no-repeat;
	padding: 1px 0px 0px 18px; 
	display: block;
}
.filetree span.topword { 
	background: url(../img/flexigrid/magnifier.png) 0 0 no-repeat;
	padding: 1px 0px 0px 18px; 
	display: block;
}
.filetree ul, .filetree li {
	background-color: transparent;
}

