/* Main */

div.main { 
  float:left;
  margin-top:1.5em;
  width:75%;
  height:100%;
}


/* Searchbox */
table.contentdom {
	width:100%;
	text-align:center;
	margin:8px 0px 6px 0px;
	border:1px solid #CCCCCC;
	display:inline-block;
}
div.ys {
	clear: inherit;
	float:left;
}
#searchbutton {
  width: 95px;
  height: 48px;  
  margin: 20px 0px 0px 8px;
  /* border: 1px solid #CCCCCC; */
  font: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px; 
  /* color: #999999; */
}
.filter {
  width: 190px;  
  margin-bottom: .5em;
  padding: 2px 0px 2px 0px /* top right bottom left */
  border: 1px solid #CCCCCC;
  font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* color: #999999; */
}
.selector {
  width: 120px;  
  margin-bottom: .5em;
  padding: 2px 0px 2px 0px; /* top right bottom left */
  border: 1px solid #CCCCCC;
  font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* color: #999999; */
}
.small {
  font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 10px;
}
.normal {
  font: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;  
}

/* Sidebar */



div.sidebar {     
  margin-right: 1em;
  float:left;
  width:250px;
}
.menu img {
  width: 32px; 
  height: 32px;
  padding: 2px 15px 2px 2px;
  vertical-align: middle;
}
.menu img.logo {
  width: 256px; 
  height: 128px;  
  padding: 2px 16px 2px 8px;
  vertical-align: middle;
}
img {
  vertical-align: top;
}
img.help {
  vertical-align: middle;
  padding-bottom:5px;
  padding-left: 6px;
}

/* YaCy Flexigrid ---------------------------*/
.flexigrid div.fbutton .add {
	background: url(../img/add.png) no-repeat center left;
}
.flexigrid div.fbutton .delete {
	background: url(../img/close.png) no-repeat center left;
}
.flexigrid div.fbutton .bookmark {
	background: url(../img/bookmark.png) no-repeat center left;
}
.flexigrid div.fbutton .blacklist {
	background: url(../img/blacklist.png) no-repeat center left;
}
.flexigrid div.fbutton .crawl {
	background: url(../img/crawl.png) no-repeat center left;
}
.flexigrid div.fbutton .next {
	background: url(../img/next.png) no-repeat center left;
}
.flexigrid div.fbutton .prev {
	background: url(../img/prev.png) no-repeat center left;
}
.flexigrid div.fbutton .load {
	background: url(../img/flexigrid/load.png) no-repeat center left;
}

/* YaCy Bookmarks ---------------------------*/
.url {
	padding-top: 1px;
	font-size: 0.9em;
  	line-height: 1.2em;
  	margin-bottom:0.6em;
}
h3.linktitle {
	margin-top:2px;	
	margin-bottom: -0.5em;
    font-size: 1.0em;
    line-height: 1.2em;
	color:#239AFF;
}
.url a {
  	color:#20A020;
  	text-decoration:none;
}
.desc {
  	font-style:italic;
	font-size: 0.9em;
  	color: #808080;
  	line-height: 1.2em;
  	margin-bottom:-1em; 	
}

/* YaCy Search Results ---------------------------*/

div.searchresults {
  	width:100%;
	margin-top: 1.0em;
	margin-left: 5px;		
}
div.searchselect {
	width:100%;
	margin-top: 1.0em;
	margin-left: 5px;
	background-color:#F0F0F6;	
}

div.searchresults.hidden {
  display:none;
}

.searchresults h3.linktitle, .searchselect h3.linktitle {	
	margin:2px;
	padding-left: 20px;
	margin-bottom: -0.5em;
    font-size: 1.0em;
    line-height: 1.2em
}
.snippet {
  	font-style:italic;
	font-size: 0.9em;
  	color: #808080;
  	line-height: 1.2em;
  	margin-bottom:-1em;
  	margin-left:22px;
}
.snippet b {
  	color: black;
}
.searchresults .linktitle a, .searchselect .linktitle a {
	color:#239AFF;  	
  	text-decoration:none;
}
.searchresults .url, .searchselect .url {
	font-size: 0.9em;
  	line-height: 1.2em;
  	margin-bottom:0.6em;
  	margin-left:22px;
}
.searchresults .url a, .searchselect .url a {
  	color:#20A020;
  	text-decoration:none;
}
img.favicon{  
  width: 16px;
  height: 16px;
  vertical-align: middle;  
  margin-left: -20px;
}
/* <dl>, <dd>, <dt> */

dl.pairs dd { 
  float:right;
  padding: 2px;
  margin-right:15px; 
}

dl.pairs dt {
  float:left;  
  text-align:left;
  padding: 5px; 
}
/* jQuery Accordion */
.basic  {
	font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;    
	width: 250px;	
}
.basic div.yform, .basic div.menu  {
	background-color: white;
	margin-bottom : 10px;
	border: none;	
	margin: 0px;
	padding: 5px 10px 5px 10px; /* top right bottom left */
	border: 1px solid black;
	text-decoration: none;	
	font-size: 14px;
	max-height: 220px;
	overflow-x: hidden;
	overflow-y: auto;
}

.basic p {
	
}
.basic h3 {
	cursor:pointer;
	display:block;
	padding:4px 12px;
	margin-top: 0;
	margin-bottom: 0px;
	text-decoration: none;
	/* font-weight: bold; */
	font-size: 12px;
	color: #27537a;
	background: url(../img/box250.png) no-repeat;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #999;	
}
.basic h3:hover {
	
}
.basic h3.selected {
	
}
.basic h3 span.loading {
	padding: 0px 15px 0px 10px;
    margin-left: 5px;
    background: url(../img/loading.gif) no-repeat 0 50%;
}

#yfolder {	
	font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: black;
}

#tagcloud {
	text-align: justify;
	line-height: 120%;
}

#tagcloud a {
	cursor:pointer;		
}
#tagcloud a:hover {
	background-color:#e6EEEE;		
}

.hidden {
	display:hidden;
}
