/* Body */
body.normal {
	font-size: 75.0%;
}
body.small {
	font-size: 55.0%;
}
body.big {
	font-size: 85.0%;
}
p.url {
	padding-top: 1px;
	font-size: 0.9em;
  	line-height: 1.1em;
  	margin-bottom:0.6em;
  	margin-left: 26px;
}
p.linktitle {
	margin-top:2px;	
	margin-bottom: -0.5em;
    font-size: 1.0em;
    line-height: 1.1em;
	color:#239AFF;
	margin-left: 26px;
}
a.favicon {
  	color:#20A020;
  	text-decoration:none;
}
img.favicon{  
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-bottom: -40px;
  padding: 5px 5px 5px 5px; 
}
