	.ywidget  {
		font-family: Helvetica,Arial,sans-serif;
		width: 250px;
	}
	.ywidget div.items {
		background-color: white;
		margin-bottom : 10px;
		border: none;	
		margin: 0px;
		padding: 10px;
		border: 1px solid black;
		text-decoration: none;	
		font-size: 0.7em;		
		height: 200px;
		overflow:hidden;	
	}
	.ywidget div.nav {
		display:block;
		padding:3px 12px;
		margin-top: 0px;
		margin-bottom: 0px;		
		background: url(../img/box250f.png) no-repeat;
		background-position: bottom;
		border-bottom: 1px solid #FFFFFF;
		border-top: 1px solid #999;
		text-align: right;
	}
	.ywidget div.head {
		display:block;
		padding:3px 12px;
		margin-top: 0;
		margin-bottom: 0px;		
		background: url(../img/box250.png) no-repeat;
		background-position: top;
		border-top: 1px solid #FFFFFF;
		border-bottom: 1px solid #999;
		white-space: nowrap;
		text-overflow:ellipsis;
		overflow:hidden;	
	}
	.ywidget .head a {
		cursor:pointer;
		text-decoration: none;
		font-weight: bold;
		font-size: 0.8em;
		color: black;
	}
	.ywidget p.desc {
	  	font-style:italic;
	  	color: #808080;
	  	line-height: 1.0em;
	  	margin-bottom:-0.5em;
	}
	.ywidget h4 {		
		margin-bottom: -0.6em;
	    line-height: 0.5em
	    text-decoration: none;
	}
	.ywidget h4 a {	
	    color:#239AFF; 
		text-decoration: none;
	}
	.ywidget p.date {
	  	line-height: 1.0em;
	  	margin-bottom:0.8em;
	  	color:#20A020;	  	
	}
	.ywidget img {
		padding: 2px 2px 2px 2px;
  		vertical-align: middle;  	
	}