	.ywidget  {
		font-family: Helvetica,Arial,sans-serif;
		width: 250px;
	}
	.ywidget div {
		background-color: white;
		margin-bottom : 10px;
		border: none;	
		margin: 0px;
		padding: 10px;
		border: 1px solid black;
		text-decoration: none;	
		font-size: 11px;		
		height: 200px;
		overflow:hidden;	
	}
	.ywidget h3 {
		display:block;
		padding:5px 15px;
		margin-top: 0;
		margin-bottom: 0px;		
		background: url(../img/box250.png) no-repeat;
		border-top: 1px solid #FFFFFF;
		border-bottom: 1px solid #999;	
	}
	.ywidget h3 a {
		cursor:pointer;
		text-decoration: none;
		font-weight: bold;
		font-size: 14px;
		color: black;
		height: 50px;
		overflow:hidden;
	}
	.ywidget p.desc {
	  	font-style:italic;
		font-size: 0.9em;
	  	color: #808080;
	  	line-height: 1.0em;
	  	margin-bottom:-0.5em;
	}
	.ywidget h4 {		
		margin-bottom: -0.6em;
	    font-size: 1.0em;
	    line-height: 0.5em
	    text-decoration: none;
	}
	.ywidget h4 a {	
	    color:#239AFF; 
		text-decoration: none;
	}
	.ywidget p.date {
		font-size: 0.9em;
	  	line-height: 1.0em;
	  	margin-bottom:0.8em;
	  	color:#20A020;	  	
	}