<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>YaCy</string>
	<key>CFBundleIdentifier</key>
	<string>net.yacy.yacy</string>
	<key>CFBundleVersion</key>
	<string>@REPL_VERSION@</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>YaCy_2013_Icon.icns</string>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-server -Xmx600m -Xms90m -Djava.net.preferIPv4Stack=true -Dfile.encoding=UTF-8 -Dsolr.directoryFactory=solr.MMapDirectoryFactory</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>MainClass</key>
		<string>net.yacy.yacy</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>Arguments</key>
		<string>-gui Library/YaCy</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/htroot</string>
			<string>$JAVAROOT/lib/activation.jar</string>
			<string>$JAVAROOT/lib/apache-mime4j-0.6.jar</string>
			<string>$JAVAROOT/lib/bcmail-jdk15-145.jar</string>
			<string>$JAVAROOT/lib/bcprov-jdk15-145.jar</string>
			<string>$JAVAROOT/lib/commons-codec-1.7.jar</string>
			<string>$JAVAROOT/lib/commons-compress-1.8.jar</string>
			<string>$JAVAROOT/lib/commons-fileupload-1.2.2.jar</string>
			<string>$JAVAROOT/lib/commons-io-2.1.jar</string>
			<string>$JAVAROOT/lib/commons-jxpath-1.3.jar</string>
			<string>$JAVAROOT/lib/commons-lang-2.6.jar</string>
			<string>$JAVAROOT/lib/commons-logging-1.1.3.jar</string>
			<string>$JAVAROOT/lib/fontbox-1.8.4.jar</string>
			<string>$JAVAROOT/lib/geronimo-stax-api_1.0_spec-1.0.1.jar</string>
			<string>$JAVAROOT/lib/guava-16.0.1.jar</string>
			<string>$JAVAROOT/lib/htmllexer.jar</string>
			<string>$JAVAROOT/lib/httpclient-4.3.3.jar</string>
			<string>$JAVAROOT/lib/httpcore-4.3.2.jar</string>
			<string>$JAVAROOT/lib/httpmime-4.3.3.jar</string>
			<string>$JAVAROOT/lib/icu4j-core.jar</string>
			<string>$JAVAROOT/lib/J7Zip-modified.jar</string>
			<string>$JAVAROOT/lib/jakarta-oro-2.0.8.jar</string>
			<string>$JAVAROOT/lib/jaudiotagger-2.0.4-20111207.115108-15.jar</string>
			<string>$JAVAROOT/lib/jcifs-1.3.17.jar</string>
			<string>$JAVAROOT/lib/jcl-over-slf4j-1.7.2.jar</string>
			<string>$JAVAROOT/lib/jempbox-1.8.4.jar</string>
			<string>$JAVAROOT/lib/jetty-client-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-continuation-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-http-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-io-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-security-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-server-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-servlet-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-servlets-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-util-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-webapp-8.1.14.v20131031.jar</string>
			<string>$JAVAROOT/lib/jetty-xml-8.1.14.v20131031.jar</string>                                                
			<string>$JAVAROOT/lib/jsch-0.1.50.jar</string>
			<string>$JAVAROOT/lib/json-simple-1.1.1.jar</string>
			<string>$JAVAROOT/lib/log4j-over-slf4j-1.7.2.jar</string>
			<string>$JAVAROOT/lib/lucene-analyzers-common-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-analyzers-phonetic-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-classification-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-codecs-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-core-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-facet-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-grouping-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-highlighter-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-join-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-memory-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-misc-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-queries-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-queryparser-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-spatial-4.7.1.jar</string>
			<string>$JAVAROOT/lib/lucene-suggest-4.7.1.jar</string>
			<string>$JAVAROOT/lib/metadata-extractor-2.6.2.jar</string>
			<string>$JAVAROOT/lib/noggit-0.5.jar</string>
			<string>$JAVAROOT/lib/pdfbox-1.8.4.jar</string>
			<string>$JAVAROOT/lib/poi-3.9-20121203.jar</string>
			<string>$JAVAROOT/lib/poi-scratchpad-3.9-20121203.jar</string>
			<string>$JAVAROOT/lib/servlet-api-3.0.jar</string>
			<string>$JAVAROOT/lib/slf4j-api-1.7.2.jar</string>
			<string>$JAVAROOT/lib/slf4j-jdk14-1.7.2.jar</string>
			<string>$JAVAROOT/lib/solr-core-4.7.1.jar</string>
			<string>$JAVAROOT/lib/solr-solrj-4.7.1.jar</string>
			<string>$JAVAROOT/lib/spatial4j-0.4.1.jar</string>
			<string>$JAVAROOT/lib/webcat-0.1-swf.jar</string>
			<string>$JAVAROOT/lib/wstx-asl-3.2.9.jar</string>
			<string>$JAVAROOT/lib/xercesImpl.jar</string>
			<string>$JAVAROOT/lib/xml-apis.jar</string>
			<string>$JAVAROOT/lib/yacycore.jar</string>
			<string>$JAVAROOT/lib/zookeeper-3.4.5.jar</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
