<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>YaCy</string>
	<key>CFBundleDisplayName</key>
	<string>YaCy</string>
	<key>CFBundleShortVersionString</key>
	<string>1.82</string>
    <key>CFBundleGetInfoString</key>
    <string>Peer-to-Peer Search Engine</string>
	<key>NSHumanReadableCopyright</key>
	<string>GPL-2.0</string>
	<key>CFBundleIdentifier</key>
	<string>net.yacy.yacy</string>
	<key>CFBundleVersion</key>
	<string>1.82</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string><!-- relative to Contents/MacOS -->
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>YaCy_2013_Icon.icns</string><!-- relative to Contents/Resources -->
</dict>
</plist>